server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: users-service
              uri: lb://USERS-SERVICE
              predicates:
                - Path=/auth/**,/users/**
            - id: appointment-service
              uri: lb://APPOINTMENT-SERVICE
              predicates:
                - Path=/appointments/**


          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
app:
  jwt:
    secret: my-super-secret-key-for-jwt-demo-only

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/








